body {
    font-family: Arial, sans-serif; /* Fuente general */
    color: #002366; /* Azul marino */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #002366; /* Azul marino */
    margin-top: 20px;
}

p {
    color: #002366; /* Azul marino */
    line-height: 1.6; /* Espaciado entre líneas */
}
